* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 200vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: #131111;
    background-image: url(./Group\ 2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    gap: 100px;
    cursor: pointer;
    scroll-behavior: smooth;
}

.one {
    height: auto;
    width: 90%;
    background-color: #6a5eff;
    backdrop-filter: blur(200px);
    box-shadow: 0px 4px 30px rgba(51, 7, 121, 0.9);
    margin-top: 20px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

.one1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 150px;
    border-radius: 40px;
    background-color: #fff;
    box-shadow: 0px 4px 30px rgba(51, 7, 121, 0.9);
}

.one2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 800px;
    border-radius: 50px;
    gap: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 30px rgba(51, 7, 121, 0.9);
}

.one2 a {
    text-decoration: none;
    color: rgb(164, 131, 255);
    transition: 0.5s;
}

.one2 a:hover {
    color: black;

}

.one3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: 70px;
    width: 150px;
    background-color: #fff;
    box-shadow: 0px 4px 30px rgba(51, 7, 121, 0.9);
}


.two {
    height: 500px;
    width: 100%;
    /* background-color: #fff; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.two1 {
    height: 400px;
    width: 50%;
    /* background-color: rgb(39, 37, 37); */
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    color: white;
}

.two h2 {
    background: linear-gradient(90deg, #da2800, #cf05cf);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: text;
    /* Clips the background to the text */
    -webkit-text-fill-color: transparent;
    /* Makes the text itself transparent */
    font-size: 50px;
}

.two1 p {
    font-weight: 10;
    text-align: center;
}

.two2 {
    height: 400px;
    width: 40%;
    border-radius: 30px;
    /* background-color: yellow; */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.two2 img {
    height: 350px;
    width: auto;
}

.three {
    height: auto;
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(2, 450px);
    justify-items: center;

}

@media (max-width: 750px) {
    .three {
        grid-template-columns: 1fr; /* 1 column per row */
        align-items: center;
        justify-content: center;
    }
}

.three1,
.three2 {
    height: 450px;
    width: 450px;
    background-color: rgb(37, 34, 34);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#img1 {
    height: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 25px 25px 0px 0px;

}

.upper {
    height: 280px;
    background-color: #fff;
    border-radius: 25px 25px 0px 0px;
}

.lower {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

#h1A {
    color: white;
}

#h1B {
    color: white;
}